body{
  background-color:  white;
}

#intro {
  background-image: url("images/placeholder.png");
  height: 100vh;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #intro {
    margin-top: -58.59px;
  }
}

.navbar .nav-link {
  color: #fff !important;
}

.vr{
  width: 80%;
  height: 30px;
  background-color: grey;
}

.newsletter{
  background-color: yellow;
}

.social-underline{
  text-decoration: underline;
  text-decoration-color: yellow;
}

.carousel-control-prev-icon{
  width: 30%;
  height: 30%;
}

.carousel-control-next-icon{
  width: 30%;
  height: 30%;
}
